<div class="container">
  <div class="card mx-auto" style="width: 400px">
    <div class="card-header text-center">
      <h2>Todo App</h2>
    </div>
    <div class="card-body">
      <form action="" class="form form-inline justify-content-center" [formGroup]="todoForm">
        <input type="text" class="form-control mr-2" formControlName="activity">
        <button class="btn btn-primary" (click)="addToList()">Add to list</button>
      </form>
    </div>
    <div class="jumbotron vertical-center" *ngIf="showList">
      <div class="container text-center">
        <div *ngFor="let activity of todoList" class="mb-2 align-middle">
          <todo-list [activity]="activity" (deleteActivity)="onDelete($event)"></todo-list>
        </div>
      </div>
    </div>
  </div>
</div>
